- current_user.groups.each do |group|
  .side-content__groups
    = link_to group_messages_path(group) do
      %p.side-content__group
        = group.name
      %p.side-content__message
        メッセージはまだありません。
