.main-menu {
  width: calc(100% - 300px);
  float: left;
}

.main-header {
  height: 100px;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid #eeeeee;
}

.group {
  float: left;
}

.group__name {
  font-size: 20px;
  color: #333333;
  padding-top: 35px;
  padding-bottom: 15px;
}

.group__member {
  font-size: 12px;
  color: #999999;
}

.main-header__btn-edit {
  height: 40px;
  width: 70px;
  float: right;
  margin-top: 28px;
  color: $back-color--info;
  border: 1px solid $back-color--info;
  position: relative;
  :visited {
    color: $back-color--info;
  }
}

.link__edit {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}

.main-content {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding-top: 46px;
  padding-right: 40px;
  padding-left: 40px;
  overflow: scroll;
}

.main-content__messages {
  padding-bottom: 40px;
}

.main-content__user {
  font-size: 16px;
  font-weight: bold;
  color: $color--massage;
  float: left;
  padding-right: 10px;
  padding-bottom: 12px;
}

.main-content__datetime {
  font-size: 12px;
  color: #999999;
  float: left;
}

.main-content__message {
  font-size: 14px;
  color: $color--massage;
  clear: both;
}

.main-input {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
}

.main-form {
  display: flex;
}

.main-form__box {
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.main-form__text {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  color: $color--massage;
  border-style: none;
}

.main-form__image-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  :visited {
    color: black;
  }
  text-decoration: none;
}

.main-form__file {
  display: none;
}

.main-form__submit-button {
  height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 15px;
  background-color: $back-color--info;
  color: white;
  cursor: pointer;
}