li {
  margin-right: 5px;
}

.side-menu {
  width: 300px;
  float: left;
}

.side-header {
  height: 100px;
  background-color: #253141;
  padding-right: 20px;
  padding-left: 20px;

  &__username{
    font-size: 16px;
    font-weight: bold;
    color: $color--white;
    line-height: 100px;
    float: left;
  }

  &__icon {
    color: $color--white;
    line-height: 100px;
    float: right;
    display: flex;
    :visited {
      color: $color--white;
    }
    text-decoration: none;
  }
}

.side-content {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: scroll;

  &__groups {
    margin-bottom: 40px;
  }

  &__group {
    font-size: 15px;
    font-weight: bold;
    color: $color--white;
    margin-bottom: 5px;
  }

  &__message {
    font-size: 11px;
    font-weight: bold;
    color: $color--white;
  }
}
